<?xml version="1.0" encoding="utf-8"?>                                                              <!-- XML declaration -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.allay">                                                                    <!-- Manifest attributes -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />                    <!-- What permissions are used -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

                                                                                                    <!-- Application declaration -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/allay_logo_trans"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/allay_logo_trans"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ChatMessage"></activity>                                           <!-- What classes and activities are used -->
        <activity android:name=".ChatActivity" />
        <activity android:name=".logADream" />
        <activity android:name=".trackSleepManually" />
        <activity android:name=".dreamLog" />
        <activity android:name=".letsSleep" />
        <activity android:name=".professionalCharlotte" />
        <activity android:name=".professionalHarold" />
        <activity android:name=".professionalAva" />
        <activity android:name=".professionalEmma" />
        <activity android:name=".professionalJake" />
        <activity android:name=".currentPatients" />
        <activity android:name=".professionalPersonalInformation" />
        <activity android:name=".professionalMainActivityScreen" />
        <activity android:name=".professionalLoginScreen" />
        <activity android:name=".loginType" />
        <activity android:name=".questionsActivity" />
        <activity android:name=".aboutInfo" />
        <activity android:name=".sleepSleep" />
        <activity android:name=".chatWithOthers" />
        <activity android:name=".professionalContact" />
        <activity android:name=".checkUp" />
        <activity android:name=".personalInformation" />
        <activity android:name=".firstTimeOpening2" />
        <activity android:name=".firstTimeOpening" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>